<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="index :: head">
<body>
    <header>
        <nav th:fragment="navbar" class="navbar navbar-expand-xl navbar-dark fixed-top" id="categoriaNav">
            <div class="container">
                <a class="navbar-brand" href="/home">
                    <span>MaxLicor's</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase me-auto py-4 py-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"></i>Promociones
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-beer"></i>Categorias
                            </a>
                            <ul class="dropdown-menu">
                                <li th:each="cat:${categorias}">
                                    <a class="dropdown-item" th:href="@{'/categoria/'+${cat.nomb_cat}}"
                                        th:text="${cat.nomb_cat}">
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/carrito">
                                <i class="fas fa-shopping-cart"></i>
                                (0)Carrito
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex ms-auto py-4 py-lg-0">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn nav_search-btn" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Usuario
                            </a>
                            <ul th:replace="usuario/sesion :: opcionesDefault"></ul>
                        </li>
                    </ul>
                </div>
            </div>
    </header>
    <div class="slider">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{'/imagenes/banners/categorias/'+${titulo}+'/banner1.jpg'}" class="d-block w-100"
                        alt="banner1">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img th:src="@{'/imagenes/banners/categorias/'+${titulo}+'/banner2.jpg'}" class="d-block w-100"
                        alt="banner2">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img th:src="@{'/imagenes/banners/categorias/'+${titulo}+'/banner3.jpg'}" class="d-block w-100"
                        alt="banner3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div th:replace="index :: listaLicores"></div>
    <div th:replace="usuario/sesion :: modalRegistro"></div>
    <div th:replace="usuario/sesion :: modalInicioSesion"></div>
    <footer th:replace="index :: footer"></footer>
</body>
</html>