<section th:fragment="seccion">
    <div class="container">
      <h1 th:text="${titulo}"></h1>
      <!-- Boton que activa el modal para agregar metodos de pago -->
      <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#agregarMetodopg">
        Agregar Metodo De Pago
      </button>
      <div class="table-responsive">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Metodo de pago</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="metodo_pago:${metodos_pagos}">
              <th scope="row" th:text="${metodo_pago.cod_metodo}"></th>
              <td th:text="${metodo_pago.nomb_metodo}"></td>
              <td>
                <a class="btn btn btn-warning btn-sm" th:href="@{/administrador/gestion/metodospg/eliminar/}+${metodo_pago.cod_metodo}"
                role="button" onclick="return confirm('Esta seguro de eliminar el registro')">
                <i class="fas fa-edit"></i></a>
                <a class="btn btn-danger btn-sm" th:href="@{/administrador/gestion/metodospg/eliminar/}+${metodo_pago.cod_metodo}"
                  role="button" onclick="return confirm('Esta seguro de eliminar el registro')">
                <i class="fas fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Modal para agregar metodo de pago-->
    <div class="modal fade" id="agregarMetodopg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ingresar Metodo De Pago</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3 needs-validation" novalidate th:action="@{/administrador/gestion/metodospg/guardar}"
              th:object="${metodo_pago}" method="post">
              <div class="form-group mb-3">
                <label>Metodo de pago<font color="red">(*)</font></label>
                <input type="text" th:field="*{nomb_metodo}" class="form-control" name="nomb_metodo" required>
                <div class="invalid-feedback">
                  Por favor ingrese el metodo de pago
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Agregar">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>