<section th:fragment="seccion">
  <div class="container">
    <h1 th:text="${titulo}"></h1>
    <!-- Boton que activa el modal para agregar usuarios 
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#agregarUsuario">
      Agregar Usuario
    </button>
    -->
    <div class="table-responsive">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Edad</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user:${usuarios}">
            <th scope="row" th:text="${user.cedula}"></th>
            <td th:text="${user.nombres}"></td>
            <td th:text="${user.apellidos}"></td>
            <td th:text="${user.fecha_nac}"></td>
            <td th:text="${edad}"></td>
            <td th:text="${user.telefono}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.cod_rol.nomb_rol}"></td>
            <!--  <td>
              <a class="btn btn-danger btn-sm" th:href="@{/administrador/gestion/usuarios/eliminar/}+${user.cedula}"
                role="button" onclick="return confirm('Esta seguro de eliminar el registro')">
                <i class="fas fa-trash"></i></a>
            </td>
             -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Modal para agregar usuario -->
  <div class="modal fade" id="agregarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingresar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3 needs-validation" novalidate th:action="@{/administrador/gestion/usuarios/guardar}"
            th:object="${usuario}" method="post">
            <div class="form-group mb-3">
              <label>Número de cedula<font color="red">(*)</font></label>
              <input type="number" th:field="*{cedula}" class="form-control" name="cod_persona" required>
              <div class="invalid-feedback">
                Por favor ingrese el numero de cedula
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Nombres<font color="red">(*)</font></label>
              <input type="text" th:field="*{nombres}" class="form-control" name="nombres" required>
              <div class="invalid-feedback">
                Por favor ingrese los nombres
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Apellidos<font color="red">(*)</font></label>
              <input type="text" th:field="*{apellidos}" class="form-control" name="apellidos" required>
              <div class="invalid-feedback">
                Por favor ingrese los apellidos
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Fecha de nacimiento<font color="red">(*)</font></label>
              <input type="date" th:field="*{fecha_nac}" class="form-control" name="fecha_nac" required>
              <div class="invalid-feedback">
                Por favor ingrese la fecha de nacimiento
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Teléfono<font color="red">(*)</font></label>
              <input type="number" th:field="*{telefono}" class="form-control" name="telefono" required>
              <div class="invalid-feedback">
                Por favor ingrese el numero de telefono
              </div>
            </div>
            <div class="form-group mb-3">
              <label>E-mail<font color="red">(*)</font></label>
              <input type="email" th:field="*{email}" class="form-control" name="email" placeholder="example@email.com"
                required>
              <div class="invalid-feedback">
                Por favor ingrese el correo electronico
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Rol<font color="red">(*)</font></label>
              <select th:field="*{cod_rol}" class="form-control" id="cbx_roles" name="cod_rol" required>
                <option value="">Seleccionar opccion</option>
                <option th:each="rol:${roles}" th:value="${rol.cod_rol}" th:text="${rol.nomb_rol}">
                </option>
              </select>
              <div class="invalid-feedback">
                Por favor seleccione el rol
              </div>
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Agregar">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>