@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

:root {
    --primary: #212529;
    --color: #ffc800;
    --buttons: #8A821F;
    --light: #ffffff;
    --greey: #efefef;
}

*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.navbar {
    padding: 10px;
}

#logo {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: var(--color);
}

#link {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    color: var(--light);
    letter-spacing: 0.0625em;
}

#link:hover {
    font-weight: bold;
    font-size: 15px;
    color: var(--color);
}

i {
    margin: 0 7px;
}

#sidebarCollapse {
    color: #fff;
    background: transparent;
    outline: none;
    margin: 0 5px;
}

#sidebarCollapse:hover {
    color: var(--primary);
    background: var(--color);
    outline: none;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-top: 80px;
    background: var(--primary);
    color: var(--light);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    background: var(--color);
    color: var(--primary);
}

#sidebar ul.components {
    padding: 20px 0px;
}

#sidebar ul p {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px 10px 20px;
    font-size: 1.1em;
    display: block;
    color: var(--light);
    font-weight: bold;
}

#sidebar ul li a:hover {
    color: var(--color);
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #8a5fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 40px;
}

@media (max-width:800px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0px;
    }

    #sidebarCollapse span {
        display: none;
    }

    .card {
        width: 100%;
    }
}

@media (max-width:400px) {
    #sidebar {
        margin-top: 70px;
    }

    #logo {
        font-size: calc(1em + 2.1vw);
    }
}