@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

:root {
    --primary: #212529;
    --light: #ffffff;
    --greey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: var(--primary)
}

.bg-primary {
    background-color: var(--primary) !important;
}

.logo-color,
.logo-color:hover {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: #ffc800;
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu a {
    text-decoration: none;
    width: 18rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.0625em;
}

#sidebar-container .menu a:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #ffc800;
}

.btn-search{
    right: 5px;
}

#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}