<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="plantilla/plantilla :: head">

<body>
    <header>
        <nav th:replace="plantilla/plantilla :: navbar"></nav>
    </header>
    <div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{'/imagenes/banners/categorias/'+${titulo}+'/banner1.jpg'}" class="d-block w-100"
                        alt="banner1">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img th:src="@{'/imagenes/banners/categorias/'+${titulo}+'/banner2.jpg'}" class="d-block w-100"
                        alt="banner2">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img th:src="@{'/imagenes/banners/categorias/'+${titulo}+'/banner3.jpg'}" class="d-block w-100"
                        alt="banner3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container">
        <div class="text-center">
            <h1 th:text="${titulo}"></h1>
        </div>
        <div class="row">
            <div class="col-sm-4" th:each="l:${licores}">
                <div class="card">
                    <div class="card-header">
                        <label th:text="${l.nomb_licor}"></label>
                    </div>
                    <div class="card-body">
                        <i th:text="${l.precio}">$</i>
                        <img th:src="@{'/imagenes/licores/'+${l.foto}}" width="200" height="180">
                    </div>
                    <div class="card-footer text-center">
                        <label th:text="${l.descripcion}"></label>
                        <div>
                            <a href="#" class="btn btn-outline-info">Agregar carrito</a>
                            <a href="#" class="btn btn-danger">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="cliente/registro :: modalRegistro"></div>
    <div th:replace="cliente/registro :: modalInicioSesion"></div>
    <footer th:replace="plantilla/plantilla :: footer"></footer>
</body>

</html>